@page
@model OnlineLearningSystem.Pages.Notifications.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notification.CreatedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notification.CreatedByNavigation.AccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Notification?.NotificationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
