@page
@model OnlineLearningSystem.Pages.Notifications.IndexModel

@{
    ViewData["Title"] = "All notification";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-success">New notification</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].CreatedByNavigation.Fullname)
            </th>
            @* <th></th> *@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notification) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByNavigation.Fullname)
            </td>
            @* <td>
                <a asp-page="./Edit" asp-route-id="@item.NotificationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NotificationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NotificationId">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
