@page
@model OnlineLearningSystem.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account?.AccountId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
