@page
@model OnlineLearningSystem.Pages.ClassSubjects.ListClassSubjectModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var count = 1;
}

<h1> SUBJECT @ViewData["className"] </h1>

@if (Model.IsAdminOrFormTeacher)
{
    <p>
        <a asp-page="Create" asp-route-id="@Model.ClassId">Create New</a> |
        <a asp-page="Create">Manage Student in class @ViewData["className"]</a> 
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                 MÔN
            </th>
            <th>
                GIÁO VIÊN
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClassSubject)
        {
            <tr>
                <td>
                    @(count )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectTeacherNavigation.Fullname)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ClassSubjectId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ClassSubjectId">Delete</a>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
