@inject IHttpContextAccessor HttpContextAccessor

@{
    bool getSession =string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserSession"));
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OLS</title>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="~/lib/richtexteditor/rte_theme_default.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/css/lamdt.css" asp-append-version="true"/>
    <link href="~/css/customized-bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    
   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!-- Navbar Start -->
     <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="/Index" class="navbar-brand ms-lg-5">
            <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-brightness-alt-high-fill fs-1 text-success me-3"></i>OLS</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0" style="margin-right:50px">
                <a href="/Index" class="nav-item nav-link">TRANG CHỦ</a>
                @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("UserSession")))
                {
                    <a href="/Authen/Login" class="nav-item nav-link">ĐĂNG NHẬP</a>
                }
                else
                {
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @HttpContextAccessor.HttpContext.Session.GetString("UserSession")
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            @if (@HttpContextAccessor.HttpContext.Session.GetString("RoleSession")==("Admin"))
                            {
                                <li><a class="dropdown-item" href="/admin-profile">Profile Admin</a></li>
                            }
                            else if (@HttpContextAccessor.HttpContext.Session.GetString("RoleSession") == "Student")
                            {
                                <li><a class="dropdown-item" href="/student-profile">Profile</a></li>
                            }
                            else
                            {
                                <li><a class="dropdown-item" href="/teacher-profile">Profile</a></li>
                            }


                            <li><a class="dropdown-item" href="/dashboard">Manage</a></li>
                            <li><a class="dropdown-item" asp-page="/Authen/Logout">Logout</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Body Start -->
    <div class="container" style="min-height: 750px">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Body End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-light mt-5 py-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-12 text-center text-body">
                    <a class="text-body" href="">ĐIỀU KHOẢN SỬ DỤNG</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="">QUYỀN RIÊNG TƯ & BẢO MẬT</a>
                </div>
            </div>
        </div>
    </div>   
    <div class="container-fluid bg-dark text-white-50 py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white" href="#">OLS</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-white" href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="/" class="btn btn-success py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!-- Toast Container -->
    <input type="hidden" id="toastMessage" value="@ViewBag.ToastMessage">
    <div class="toast-container position-absolute end-0 p-3" style="z-index: 11; bottom: 78%">
        <!-- Toast -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="myToast">
            <div class="toast-header" style="background-color: #198754">
                <strong class="mr-auto" style="color: white">THÔNG BÁO</strong>
            </div>
            <div class="toast-body">
                <span id="toastMessageContent" style="font-size: 16px"></span>
            </div>
        </div>
    </div>
    <!-- End of Toast -->
    <!-- End of Toast Container -->

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/richtexteditor/rte.js"></script>
    <script src="~/lib/richtexteditor/plugins/all_plugins.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Disable context menu -->
    @* <script>
        function disableContextMenu(event) {
            event.preventDefault();
        }

        document.addEventListener('contextmenu', disableContextMenu);
    </script> *@

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let toastMessageInput = document.getElementById("toastMessage");
            let toastMessageContent = document.getElementById("toastMessageContent");

            // Kiểm tra xem input hidden có nội dung không
            if (toastMessageInput && toastMessageInput.value) {
                // Hiển thị nội dung của toast
                toastMessageContent.innerText = toastMessageInput.value;

                // Hiển thị toast
                var myToast = new bootstrap.Toast(document.getElementById('myToast'));
                myToast.show();
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            var itemCount = $(".owl-carousel .item").length;

            $(".owl-carousel").owlCarousel({
                items: 3, // Số lượng mục trong một hàng
                loop: itemCount > 3, // Chỉ lặp lại nếu có nhiều hơn 3 mục
                margin: 10, // Khoảng cách giữa các mục
                nav: itemCount > 3, // Chỉ hiển thị nút điều hướng nếu có nhiều hơn 3 mục
                navText: ['<i class="bi bi-chevron-left"></i>', '<i class="bi bi-chevron-right"></i>'], // Biểu tượng Bootstrap Icons cho prev và next
                dots: itemCount > 3, // Chỉ hiển thị dấu chấm điều hướng nếu có nhiều hơn 3 mục
                mouseDrag: itemCount > 3, // Chỉ cho phép kéo bằng chuột nếu có nhiều hơn 3 mục
                touchDrag: itemCount > 3, // Chỉ cho phép kéo bằng cảm ứng nếu có nhiều hơn 3 mục
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                }
            });
        });
    </script>

    <!-- Template Javascript -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>